.filterContainer {
    margin-top: 6em;
    position: relative;
    z-index: 2;
    padding: 5em 0em;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.299);
}



.filterWrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 1.3em;
    gap: 1.5em;
}

.filterInputs {
    width: 100%;
    gap: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filterBtns {
    display: flex;
    gap: 1em;
}

/* Выпадающий список */
.dropdown {
    position: relative;
    width: 110%;
    right: 15px;
}

.dropdownToggle {
    width: 100%;
    max-width: 408.5px;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8em;
    border: 0.5px solid #636363;
    border-radius: 8px;
    cursor: pointer;
    background: white;
    box-sizing: border-box;
}

.dropdownToggle span {
    display: inline-block;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: gray;
}

.dropdownToggle .dropdownArrow {
    color: black;
}

.text {
    color: gray;
}

.text.selected {
    color: black;
}


.dropdownArrow {
    position: absolute;
    right: 10px;
    margin-left: 1em;
    font-size: 0.8em;
    color: #000000;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 99%;
    padding: 0em 0em 0em 0em;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-height: 154px;
    overflow-y: auto;
    z-index: 10;
}

.dropdownMenu li {
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: start;
}

.dropdownMenu label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdownMenu input[type="checkbox"] {
    margin-right: 0.5em;
    width: 24px;
}

/* Стили для чекбокса */
.checkboxLabel {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.checkboxInput {
    display: none;
}

.checkboxCustom {
    width: 20px;
    height: 20px;
    border: 0.5px solid black;
    background-color: white;
    display: inline-block;
    margin-right: 8px;
    position: relative;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
}

.checkboxInput:checked+.checkboxCustom {
    background-color: #0D19FF;
    border: none;
}

.checkboxInput:checked+.checkboxCustom::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%) rotate(45deg);
    width: 5px;
    height: 14px;
    border: solid white;
    border-width: 0 2px 2px 0;
}

.nameService {
    font-size: 14px;
    color: #000;
}

.filterModal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.blurBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 998;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}

.blurBackground.hidden {
    opacity: 0;
    pointer-events: none;
}

/* Контейнер формы */
.formContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 6em 7em;
    min-height: 200px;
    text-align: center;
}

.formContainer div {
    display: flex;
    gap: 1em;
}

.closeButton {
    background: none;
    border: none;
    padding: 0;
    color: #000000;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 32px;
    cursor: pointer;
    z-index: 10;
}

.closeButton:hover {
    color: #0D19FF;
}

/* modal */
.filterModal .formContainer .filterInputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.filterModal .filterInputs input {
    padding: .8em 0em;
    text-indent: .8em;
}

.filterModal .formContainer .filterInputs .dropdown {
    position: relative;
    width: 308.5px;
    left: 0px;
}

.filterModal .formContainer .filterInputs .dropdownToggle {
    width: 408.5px;
    padding: .8em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

.filterModal .formContainer .filterInputs .dropdownMenu {
    padding: 0em;
    height: 130px;
}

.filterModal .formContainer .filterBtns {
    margin-top: 1em;
    width: 308px;
}

.filterModal .formContainer .filterBtns .dropdownMenu {
    height: 90px;
}

.filterModal .formContainer .filterBtns button {
    position: relative;
    right: 10px;
}

.filterModal .formContainer .filterBtns .dropdown {
    left: 0px;
}

@media (max-width: 1040px) {
    .container {
        max-width: 80%;
    }

    .filterWrapper .dropdown {
        max-width: 800px;
        width: 100%;
        right: 0px;
    }

    .dropdownMenu {
        width: 100%;
    }

    .filterWrapper .dropdownToggle {
        max-width: 800px;
    }

    .filterWrapper {
        flex-direction: column;
        padding: 0 2em;
    }

    .filterBtns {
        justify-content: center;
    }

    .filterInputs {
        flex-direction: column;
    }

    .filterModal .formContainer {
        padding: 5em 2em;
    }

    .filterModal .filterInputs input {
        padding: .8em 0em;
        text-indent: .8em;
    }

    .filterModal .formContainer .filterBtns button {
        position: relative;
        right: 0px;
    }
}