.newsPageWrapper{
    margin-top: 6em;
    margin-bottom: 12em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 2em 0 2em 0;
    height: 40em;
    position: relative;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.299);
    border-radius: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.wrapperNewsBlock{
    padding: 2em;
}
.newsInfo{
    display: flex;
    flex-direction: column;
    gap: 1em;   
    
}
.newsBlockWrapper{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
}
.line{
    height: 5px;
    width: 100%;
    background-color: #0078FF;
    border-radius: 10px;
}
.loaderWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
@media (max-width: 1040px){
    .newsInfo img{
        width: 200px;
        height: 200px;
    }
    .newsInfo p{
        font-size: .8em;
    }
}