.allServicesContainer{
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.listServicesWrapper{
    display: flex;
    flex-direction: column;
    gap: 2em;
}