.allServicesContainer {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.allServicesWrapper {
    overflow-y: scroll;
    height: 380px;
}

.listServicesWrapper {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.noServicesMessage {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
    margin-top: 20px;
}
